@using Laboratorio_LINQ_XML_Lizarraga.Models;
@model IEnumerable<Laboratorio_LINQ_XML_Lizarraga.Models.ClsCursos>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Obtener por Codigo</title>
</head>
<body>
    <div>
        <h2>Listar Cursos 2 con XML</h2>
        
        @using (Html.BeginForm("ObtenerCodigo", "Cursos", FormMethod.Post))
        {
            <h1>Listar Alumnos</h1>
            <br />
            <input type="text" name="codigo" />
            <br />
            <input type="submit" value="Buscar" />
            <br />
        }

        <table border="1">

            <tr>
                <th>Nº</th>
                <th>Codigo</th>
                <th>Nombre</th>
                <th>Horas</th>
                <th>Creditos</th>
                <th>Prerequisito</th>
            </tr>
            
            @{ int numero = 1;}
            @foreach (var item in Model)
            {
                <tr>
                    <td>@(numero++)</td>
                    <td>@Html.DisplayFor(modelItem => item.codigo)</td>
                    <td>@Html.DisplayFor(modelItem => item.nombre)</td>
                    <td align="center">@Html.DisplayFor(modelItem => item.horas)</td>
                    <td align="center">@Html.DisplayFor(modelItem => item.creditos)</td>
                    <td>@Html.DisplayFor(modelItem => item.prerequisito)</td>
                </tr>
            }

            <tr>
                <td>Cantidad de Registros</td>
                <td></td>
                <td align="center"><b>Total</b></td>
                <td align="center"></td>
                <td align="center"></td>
                <td></td>
            </tr>

        </table>
    </div>
</body>
</html>
